# prj
/artifacts/
/data/
/dataset/
/dist/

# development memos (now in docs/)
docs/commands.md
docs/memo.md

# mac
.DS_Store
._.DS_Store

# python
*.pyc
__pycache__/
*.egg-info/

# genkai
/logs/
run.sh*