antlr4-python3-runtime==4.9.3
cupy-cuda13x==13.6.0
et_xmlfile==2.0.0
fastrlock==0.8.3
networkx==3.4.2
numpy==2.2.6
nvidia-cublas-cu13==0.0.0a0
nvidia-cuda-nvrtc-cu13==0.0.0a0
nvidia-cuda-runtime-cu13==0.0.0a0
nvidia-cusolver-cu13==0.0.0a0
nvidia-cusparse-cu13==0.0.0a0
omegaconf==2.3.0
opencv-python==4.12.0.88
openpyxl==3.1.5
pandas==2.3.3
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
tzdata==2025.2
-e git+ssh://git@github.com/Applica-760/research-prj.git@c767e38329858a8a397e908a131bf4773b0479f8#egg=yourpkg
